{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
               <!-- Página de error-->
                <h1 class="text-muted">{{ texto }}</h1>
            </div>
        </div>
    </div>
{% endblock %}


